body {
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr auto;
  background-color: rgb(250, 250, 244);

  height: 100vh;
  overflow: hidden;
}

header {
  background-color: rgb(245, 204, 204);

  padding: 0;
  border: 1px solid black;
  grid-column-start: 1;
  grid-column-end: 4;

  display: flex;
}

header h1 a {
  text-decoration: none;
  padding: 0.5em;
  color: black;
}

nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1em;
  padding-top: 1em;
}

nav li {
  padding: 0.5em;
  list-style: none;
}

nav li a {
  text-decoration: none;
  color: black;
}

.header-section {
  background: rgb(255, 159, 159);
}

.board-header {
  border-bottom: 2px solid black;
  width: fit-content;
  height: 50px;
}

main {
  grid-column-start: 1;
  grid-column-end: 4;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 1em;
  padding: 0.5em;
  min-height: 0;
}

.todo-list {
  grid-column: 1;

  background: rgba(255, 159, 159, 0.274);
  border-radius: 10px;
  min-height: 0;
  padding: 10px;
  border: 2px solid black;

  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.todo-list header {
  display: flex;
  flex-direction: column;
  padding: 5px;
  height: fit-content;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: rgb(209, 169, 169);
  border: none;

  position: sticky;
  top: 0;
  z-index: 1;
}

.todo-list header h2 {
  background: rgb(255, 191, 191);
  line-height: 50px;

  margin: 0;
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0.6rem 1rem;
  text-align: center;
  border-radius: 10px;
}

.todo-list header button {
  align-self: center;
  padding: 0.5em;
  border-radius: 10px;
  width: 120px;
  margin: 5px;
  cursor: pointer;
  background: rgb(234, 207, 207);
}

.todo-list ul {
  list-style: none;
  margin: 0;
  padding: 0.5em;
  display: grid;
  gap: 0.75em;
  overflow-y: auto;
  flex: 1;
  min-height: 0;
  max-height: fit-content;
}

.todo-list ul li,
.doing-list ul li,
.done-list ul li
{
  background-color: rgba(128, 128, 128, 0.586);
  color: rgb(255, 255, 255);
  padding: 0;
  border-radius: 10px;
  border: 1px solid black;
}

.todo-list ul li h3,
.doing-list ul li h3,
.done-list ul li h3
{
  margin: 0;
  background-color: rgb(0, 0, 0);
  padding: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.todo-list ul li p,
.doing-list ul li p,
.done-list ul li p
 {
  padding: 0.5em;
}

.todo-list ul li button,
.doing-list ul li button,
.done-list ul li button
 {
  margin: 0.5em;
  float: right;
}

.doing-list {
  grid-column: 2;

  background: rgba(245, 245, 56, 0.281);
  border-radius: 10px;
  min-height: 0;
  padding: 10px;
  border: 2px solid black;

  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.doing-list header {
  display: flex;
  padding: 5px;
  height: fit-content;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: rgb(245, 245, 56);
  border: none;

  position: sticky;
  top: 0;
  z-index: 1;
}

.doing-list ul {
  list-style: none;
  margin: 0;
  padding: 0.5em;
  display: grid;
  gap: 0.75em;
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  max-height: fit-content;
}

.done-list {
  grid-column: 3;

  background: rgba(56, 245, 69, 0.24);
  border-radius: 10px;
  min-height: 0;
  padding: 10px;
  border: 2px solid black;

  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.done-list header {
  display: flex;
  padding: 5px;
  height: fit-content;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: rgb(56, 245, 69);
  border: none;

  position: sticky;
  top: 0;
  z-index: 1;
}

.done-list ul {
  list-style: none;
  margin: 0;
  padding: 0.5em;
  display: grid;
  gap: 0.75em;
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  max-height: fit-content;
}

footer {
  grid-column-start: 1;
  grid-column-end: 4;

  background: rgb(245, 204, 204);
  margin-top: 10px;
}


.todo-list ul li input[type="text"],
.todo-list ul li textarea {
  display: block;
  width: calc(100% - 1rem);
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #000;
  box-sizing: border-box;
  color: #000;
  background: #fff;
  resize: none;
}

.field-error {
  outline: 2px solid red;
}

dialog {
  background-color: grey;
  width: 700px;
  height: 500px;
}

dialog form {
  border-radius: 10px;
  background-color: rgba(255, 250, 250, 0.637);
  padding: 0px;
}

dialog form h2 {
  background-color: black;
  color: white;
  display: flex;
  padding: 5px;
  height: 50px;
  align-items: center;
  justify-content: center;
  border-top-left-radius:10px ;
  border-top-right-radius: 10px;

}

dialog label {
  display: block;
  padding: 10px;
}

dialog input[type=text] {
  width: 50%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}
